.filters {
  .hero-bg {
    background-image: url("/icons/filters-bg.svg");
    background-position: center center;
    background-size: cover;
    height: 30rem;
    width: 100%;
    background-attachment: fixed;

    .occassion-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 3rem;

      .occassion {
        background-color: #fdf0f0;
        position: relative;
        height: 14rem;
        width: 14rem;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
        color: #9b0000;
        cursor: pointer;
        font-size: 1.3rem;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 13.5rem;
          height: 13.5rem;
          border-radius: 50%;
        }
        &:hover::after {
          border: 0.2rem solid #9b0000;
        }

        &.selected-occassion::after {
          border: 0.2rem solid #9b0000;
        }
      }
    }
  }

  .title {
    font-size: 2.7rem;
    font-weight: 700;
  }

  .sub-title {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .content {
    padding: 4rem 7rem;

    .left-side {
      margin-top: 2rem;
    }

    .filters {
      border: 0.1rem solid #e7eaed;
      border-radius: 0.3rem;
      padding: 0.8rem;

      .btn-view {
        display: block;
        font-weight: 700;
        margin: auto;
        text-decoration: underline;
        color: #9b0000;
      }
    }
    .date {
      border: 0.1rem solid #d1d5db;
      padding: 0.5rem;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 0.5rem;
      width: 12rem;
    }

    .products {
      gap: 2rem;
    }

    .arrow {
      transform: rotate(90deg);
    }
  }
  .gifts {
    padding: 0 3rem;
    background-image: url("/icons/flower-bg.svg");

    padding-bottom: 3rem;
  }
}
