.backdrop {
  position: absolute;
  left: 0;
  top: 6rem;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  transition: 0.1s ease-in-out;

  &.active {
    z-index: 8;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.anchor {
  position: relative;
  .context {
    position: absolute;
    width: fit-content;
    background-color: white;
    top: -50rem;
    right: 0;
    z-index: -9;
    transition: 0.3s ease-in-out;
    opacity: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0.8rem 0.8rem 1rem -0.4rem rgba(0, 0, 0, 0.2);

    &.active {
      top: 4.3rem;
      opacity: 1;
      z-index: 9;
    }
  }
}
