.button {
  background-color: #9b0000;
  color: white;
  font-weight: 700;
  padding: 1rem 3rem;
  border-radius: 0.4rem;
  min-width: 12rem;
  font-size: 1.1rem;
  transition: 0.3s ease-out;

  &:hover {
    opacity: 0.85;
  }

  &.transparent {
    background-color: white;
    color: #9b0000;
    border: 0.1rem solid #9b0000;

    &:hover {
      background-color: #9b0000;
      color: white;
    }
  }

  &.responsive {
    width: 100%;
  }
}
