.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 3rem;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  .logo {
    height: 4rem;
    width: auto;
  }
  .nav {
    display: flex;
    .link {
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
  .controls-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    .currency {
      border: none;
      outline: none;
      background-color: transparent;
      &.active {
        text-decoration: underline;
      }
    }
    .control-icon {
      height: 1rem;
      width: auto;
      margin: 1rem 0 0.4rem;
    }
  }
}
.main {
  margin-top: 6.5rem;
  min-height: calc(100vh - 6.5rem);
}
