.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 3rem;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
  .logo {
    height: 4rem;
    width: auto;
  }
  .nav {
    display: flex;
    .link {
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
  .controls-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    .currency {
      border: none;
      outline: none;
      background-color: transparent;
      &.active {
        text-decoration: underline;
      }
    }
    .control-icon {
      height: 1rem;
      width: auto;
      margin: 1rem 0 0.4rem;
    }
  }

  .stage-wrapper {
    width: 26rem;
    .stage-name {
      font-size: 1.3rem;
      text-transform: capitalize;
      &.active {
        font-weight: 600;
      }
    }

    .progress {
      display: flex;
      align-items: center;
      .progress-bar {
        height: 0.3rem;
        background: #e5e7eb;
        border: none;
        width: 8rem;

        &.active {
          background: #22c55e;
        }
      }
      .circle {
        width: 1.4rem;
        height: 1.4rem;
        display: inline-block;
        position: relative;
        border: 0.1rem solid #4b5563;
        border-radius: 50%;

        &.completed {
          background-color: #22c55e;
          border-color: #22c55e;

          &::after {
            content: "";
            position: absolute;
            border: 0 solid white;
            border-width: 0 0 0.2rem 0.2rem;
            width: 50%;
            height: 20%;
            transform: rotate(-45deg) translate(-10%, 90%);
          }
        }

        &.active {
          border-width: 0.15rem;
        }
      }
    }
  }
}
.main {
  margin-top: 6.5rem;
  min-height: calc(100vh - 6.5rem);
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  transition: 0.1s ease-in-out;

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .cart-context {
    position: absolute;
    width: 30rem;
    background-color: white;
    top: -100rem;
    right: 2rem;
    padding: 2rem;
    padding-right: 1rem;
    transition: 0.3s ease-in-out;
    opacity: 0;
    padding-bottom: 1rem;

    &.active {
      top: 6rem;
      opacity: 1;
    }

    .cart-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      h3 {
        font-size: 1.8rem;
        font-weight: 600;
      }
    }

    .delivery-status {
      display: flex;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      border-bottom: 0.1rem solid #e5e7eb;
      padding-bottom: 0.5rem;
      & > * {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .cart-item {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 1.5rem;

      & > * {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }

      .product-image {
        height: 5rem;
        width: 5rem;
        border-radius: 0.4rem;
      }
    }
  }
}

.plus {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
  background: #9b0000;
  cursor: pointer;
  border-radius: 0.3rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: #fff;
  }

  &::before {
    left: 50%;
    top: 7px; /* this defines how much black "border" there should be */
    bottom: 7px;
    width: 0.15rem;
    transform: translateX(-50%);
  }

  &::after {
    top: 50%;
    left: 7px;
    right: 7px;
    height: 0.15rem;
    transform: translateY(-50%);
  }
}

// minus sign
.minus {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
  background: white;
  border: 0.1rem solid #9b0000;
  cursor: pointer;
  border-radius: 0.3rem;

  &::after {
    content: "";
    position: absolute;
    background: #9b0000;
    top: 50%;
    left: 7px;
    right: 7px;
    height: 0.1rem;
    transform: translateY(-50%);
  }
}

.toaster {
  position: fixed;
  top: 7rem;
  right: 2rem;
  z-index: 9999999;
  height: fit-content;
  width: 25rem;
  transition: 0.2s ease-out;
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  transform: translateX(30rem);
  font-weight: 600;
  &.active {
    transform: translateX(0);
  }
  &.success {
    background-color: #f0fdf4;
    color: #15803d;
  }
  &.error {
    background-color: #fef2f2;
    color: #dc2626;
  }
  &.info {
    background-color: #eff6ff;
    color: #2563eb;
  }
  .icon-wrapper {
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    .icon {
      height: 1.5rem;
      width: auto;
    }
  }
  .close-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.6rem;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s ease-out;
    padding: 0.2rem;
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .bar {
      background-color: white;
      height: 0.15rem;
      width: 0.8rem;
      transform: rotate(45deg);
      &:nth-child(2) {
        transform: rotate(-40deg) translate(0.1rem, -0.1rem);
      }
    }
  }
}

.empty-cart {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.auth-form {
  padding: 1rem;
  width: 20rem;
}
