.product {
  padding: 2rem 3rem;

  .product-content {
    margin-bottom: 3rem;
    & > div {
      flex-basis: 51%;
      &.slider-wrapper {
        flex-basis: 45%;
      }
    }
  }
  .slider-wrapper {
    width: 35rem;
    .slider {
      overflow: hidden;
      width: 100%;
      display: flex;
      position: relative;

      .slide {
        width: 0;
        height: 35rem;
        opacity: 0;
        margin-bottom: 2rem;
        transition: 0.3s ease-out;

        &.active-slide {
          opacity: 1;
          width: 28rem;
          height: 28rem;
        }

        img {
          width: 35rem;
          height: 35rem;
          object-fit: cover;
        }
      }
    }
  }

  .btn-arrow {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 1);
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    z-index: 100;
    &.left {
      left: 1rem;
    }
    &.right {
      right: 1rem;
    }
  }

  .slide-image {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-out;
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    // border: 0.1rem solid transparent;
    &:hover {
      opacity: 1;
    }

    &.active-image {
      opacity: 1;
      // border: 0.1rem solid #9b0000;
    }
  }

  .tab {
    margin: 1.5rem 0;
    // border-bottom: 0.15rem solid #f1f1f1;
    display: inline-block;
    transition: 0.3s ease-out;
    position: relative;

    .tab-title {
      padding-bottom: 0.4rem;
      transition: 0.3s ease-out;
      &.active {
        border-bottom: 0.15rem solid #9b0000;
        font-weight: 700;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: #f1f1f1;
      transition: 0.3s ease-out;
      z-index: -1;
    }
  }
  .delivery {
    background-color: #f9fafb;
    padding: 1.2rem;
    margin: 1.5rem 0;
    border-radius: 0.6rem;

    .icon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: rgba(155, 0, 0, 0.1);
    }
  }

  .social-icons {
    .social-icon {
      height: 2rem;
      width: 2rem;
      background-color: #f1f1f1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  .product-info {
    background-color: #f1f1f1;
    padding: 0.8rem;
  }

  .size-wrapper {
    background-color: #f9fafb;
    padding: 1rem;
    margin-bottom: 1rem;
    .size {
      padding: 0.5rem;
      border: 0.1rem solid #d1d5db;
      display: inline-block;

      margin: 0.3rem;
      cursor: pointer;
      transition: 0.3s ease-out;

      &:hover {
        border-color: rgba(209, 213, 219, 0.8);
        color: white;
        background-color: #9b0000;
      }

      &.selected-size {
        // border-color: #9b0000;
        color: white;
        background-color: #9b0000;
      }
    }
  }

  .menu-wrapper {
    .menu-btn {
      background-color: #f9fafb;
      cursor: pointer;
      border-radius: 0 0.4rem 0.4rem 0;
      margin-bottom: 1rem;

      .arrow {
        transform: rotate(90deg);
        transition: all 0.4s ease-out;
      }

      .group {
        width: 100%;
        padding: 0 1rem;

        &.active {
          color: #9b0000;
          background-color: rgba(155, 0, 0, 0.1);
        }

        &:hover {
          color: #9b0000;
          background-color: rgba(155, 0, 0, 0.1);
          transition: 0.3s ease-out;
        }
      }
    }
    .menu-dropdown {
      height: 0;
      transition: 0.4s ease-out;
      display: flex;
      overflow: hidden;

      &.opened {
        height: 15rem;
        transition: 0.4s ease-out;
      }
    }
    .menu-child {
      text-align: center;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      img {
        height: 10rem;
      }
    }
  }
  .design {
    border: 0.1rem solid #e5e7eb;
    padding-top: 1.5rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-out;

    &.selected-design {
      border-color: #9b0000;
    }

    &:hover {
      border-color: #9b0000;
    }
  }
  .buy-now {
    width: 35%;
  }
  .add-to-cart {
    width: 60%;
  }
}
