.wrapper {
  .hero {
    height: 60vh;
    background-image: url("../../public/images/faq-hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #68203b;
    }
  }

  .container {
    padding: 0 3rem;
  }

  .content {
    margin: 4rem 0;

    p {
      line-height: 1.5rem;
    }

    .links {
      width: 40%;
      border: 0.1rem solid #f3f4f6;
      height: fit-content;
      padding: 1rem 0;
      padding-left: 1rem;
    }

    .linked-content {
      width: 60%;
      & > div {
        margin-bottom: 2.5rem;
      }
    }
    .payment-info {
      background-color: #f9fafb;
      display: inline-block;
      padding: 1rem;
      margin: 1rem;

      strong {
        display: inline-block;
      }

      & > * {
        margin-bottom: 0.6rem;
      }
    }
  }
}
