.hero-bg {
  background-image: url("/images/landing-bg.png");
  background-position: center center;
  background-size: 100vw 84%;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  width: 50%;
  color: #68203b;
}
.section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 4rem;
}
.full-width-section {
  display: flex;
  height: 34rem;
  &.summary {
    .left {
      background-color: #e0e0ec;
      color: #202020;
      align-items: flex-start;
      width: 65%;
      padding: 0 15%;
      & > * {
        margin: 1rem 0;
      }
    }
    .right {
      width: 35%;
    }
  }
  .left {
    width: 70%;
    justify-content: center;
    background-color: #53674b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 4rem;
    position: relative;
    .google-review {
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      .stats {
        white-space: nowrap;
      }
    }
    .reviews {
      display: flex;
      height: 15rem;
      width: 80%;
      .review {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease-out;
        overflow: hidden;
        position: relative;
        width: 0;
        opacity: 0;
        &.active {
          width: 100%;
          opacity: 1;
        }
        .text {
          margin: 1rem 0;
          width: 65%;
          font-size: 1.1rem;
          text-align: center;
        }
        .review-date {
          margin: 0.1rem 0 1.5rem;
        }
      }
    }
    .review-arrow {
      position: absolute;
      top: 50%;
      right: 15%;
      border-radius: 50%;
      cursor: pointer;
      &.left-arrow {
        transform: rotate(180deg);
        right: unset;
        left: 15%;
      }
    }
    .dot {
      display: inline-block;
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
      padding: 0.4rem;
      border: 0.2rem solid white;
      transition: 0.3s ease-out;
      &.active {
        border-color: #195401;
        cursor: default;
        padding: 0.4rem;
      }
    }
  }
  .right {
    width: 30%;
    height: auto;
    object-fit: cover;
  }
}
.contact-section-wrapper {
  background-image: url(/images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: 20rem;
  background-position: bottom left;
  .contact-section {
    padding: 6rem;
    background-color: #fcfcfbe2;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-img {
      height: 40rem;
      position: relative;
      z-index: 3;
    }
    .details {
      background-color: #f5f2ef;
      padding: 3rem 10rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      position: relative;
      margin-left: -6rem;
      z-index: 2;
      font-size: 0.95rem;
      align-items: flex-start;
      .detail {
        margin: 0.6rem 0;
        display: flex;
        flex-direction: column;
        .key {
          color: #6b7280;
        }
        .value {
          display: flex;
          margin: 1rem 0 0.6rem;
          width: 18rem;
          & > img {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
