.flower-card {
  display: inline-block;
  text-align: center;
  border: 0.1rem solid #f3f4f6;
  border-radius: 0.4rem;

  .detail {
    padding: 0.6rem 1rem;
  }

  .buy-btn {
    padding: 0.4rem 0.6rem;
    min-width: 6rem;
    font-weight: normal;
    font-size: 0.9rem;
  }
  .flower-image {
    height: 15rem;
    width: 16rem;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
  }
}
