@font-face {
  font-family: "SharpSans";
  src: url("../public/fonts/SharpSans.woff2") format("woff2");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  font-size: 92%;
  @media (max-width: 1180px) {
    font-size: 84%;
  }
  @media (max-width: 1080px) {
    font-size: 77%;
  }
  @media (max-width: 980px) {
    font-size: 68%;
  }
  @media (max-width: 850px) {
    font-size: 90%;
  }
  @media (max-width: 650px) {
    font-size: 80%;
  }

  @media (min-width: 1500px) {
    font-size: 100%;
  }
  @media (min-width: 1700px) {
    font-size: 130%;
  }
  @media (min-width: 2000px) {
    font-size: 150%;
  }
  @media (min-width: 2500px) {
    font-size: 200%;
  }
  @media (min-width: 2800px) {
    font-size: 215%;
  }
  @media (min-width: 3000px) {
    font-size: 225%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SharpSans", segoe UI, sans-serif;
}

body {
  font-size: 0.9rem;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-out;
}
input,
input:active,
textarea,
textarea:active {
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
h1 {
  font-size: 2.4rem;
  margin: 0.5rem 0;
}
button {
  font-size: inherit;
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  * {
    cursor: pointer;
  }
}
.title {
  font-size: 1.8rem;
  &.small {
    font-size: 1.3rem;
  }
}
.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.center-align {
    align-items: center;
  }
  &.spaced > * {
    margin-left: 0.6rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.spaced-lg > * {
    margin-left: 1.2rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.spaced-xl > * {
    margin-left: 2.4rem;
    &:first-child {
      margin-left: 0;
    }
  }
  &.wrap {
    flex-wrap: wrap;
  }
  & .flex-one {
    flex: 1;
  }
}
.grid {
  display: grid;
  column-gap: 1rem;
  &.double-col {
    grid-template-columns: 1fr 1fr;
  }
}
.center {
  text-align: center;
}
.grayed {
  color: rgba(0, 0, 0, 0.3);
}
.danger {
  color: #ff7452;
}
.clickable,
.clickable:visited {
  cursor: pointer;
  color: #2684ff;
  &.neutral {
    color: inherit;
    &.underline {
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
  &.underline {
    border-bottom: 0.08rem solid;
  }
  &.danger {
    color: #ff7452;
  }
}
.hr {
  outline: none;
  border: none;
  background-color: #dadbdd;
  height: 0.1rem;
}
.margin {
  margin: 0.6rem;
  &.wide {
    margin: 1.2rem;
  }
}
.vertical-margin {
  margin: 0.6rem 0;
  &.spaced {
    margin: 1.2rem 0;
  }
  &.xl {
    margin: 2.4rem 0;
  }
  &.compact {
    margin: 0.3rem 0;
  }
  &.margin-left {
    margin-left: 0.6rem;
  }
}

.horizontal-padding {
  &.xl {
    padding: 0 3rem;
  }
}
.margin-left {
  margin-left: 0.6rem;
  &.spaced {
    margin-left: 1.2rem;
  }
}
.margin-right {
  margin-right: 0.6rem;
  &.spaced {
    margin-right: 1.2rem;
  }
}
.margin-bottom {
  margin-bottom: 0.6rem;
  &.spaced {
    margin-bottom: 1.2rem;
  }
}
.margin-top {
  margin-top: 0.6rem;
}
.round {
  border-radius: 50%;
}
.light-shadow {
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
.search-wrapper {
  margin: 1rem 0;
}
.table-row {
  margin: 1.5rem 0;
}
.padded {
  padding: 1rem;
  &.small {
    padding: 0.6rem;
  }
}
.tag {
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  min-width: 5.5rem;
  text-align: center;
  &.failure {
    color: #bf2600;
    background-color: #ffded6;
  }
  &.success {
    background-color: #79f2c0;
    color: #006644;
  }
  &.yellow {
    background-color: #fff6c2;
    color: #c9b232;
  }
  &.grey {
    background-color: #b7bcc2;
    color: #ffffff;
  }
  &.blue {
    color: #2684ff;
    background-color: #d4e6ff;
  }
}

.round-tag {
  display: inline-block;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.4rem;
  font-size: 0.7rem;

  &:not(:first-child) {
    margin-left: -1.5rem;
  }

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
  }

  &.more {
    font-size: 0.65rem;
    text-align: center;
    padding: 0px;

    &:before {
      padding: 0;
    }
  }

  &.success {
    background-color: #79f2c0;
    color: #006644;
  }

  &.yellow {
    background-color: #fff6c2;
    color: #c9b232;
  }
  &.grey {
    background-color: #b7bcc2;
    color: #ffffff;
  }
  &.blue {
    color: #2684ff;
    background-color: #d4e6ff;
  }
  &.failure {
    color: #bf2600;
    background-color: #ffded6;
  }
}

.thin {
  font-weight: 300;
}

.generic-icon {
  height: 1rem;
  width: auto;
  &.xsmall {
    height: 0.6rem;
  }
  &.small {
    height: 0.8rem;
  }
  &.medium {
    height: 1.5rem;
  }
  &.large {
    height: 2rem;
  }
  &.xl {
    height: 4rem;
  }
  &.xxl {
    height: 6rem;
  }
}
.relative {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.filters-row {
  display: flex;
  flex-wrap: wrap;
}
.filter-group {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.filter-group label {
  font-size: 0.75rem;
  margin-right: 0.3rem;
}

.add-file-box {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.15rem dashed #97a0af;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.8rem 0;
  &.responsive {
    width: unset;
  }
  &.half-width {
    width: 50%;
  }
  .question {
    font-weight: bold;
    margin-bottom: 0.4rem;
    font-size: 0.9rem;
  }
  .subtitle {
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
  }
}
.smaller {
  font-size: smaller;
}
.larger {
  font-size: larger;
}
.block {
  width: 100%;
}
.half-width {
  width: 50%;
}

.new-hr {
  border: none;
  background-color: #dfe1e6;
  height: 0.1rem;
  margin: 1rem auto;
  width: 60%;
}

.close-icon {
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s ease-out;
  padding: 0.8rem 0.1rem;
  .bar {
    background-color: rgba(0, 0, 0, 0.5);
    height: 0.1rem;
    width: 1.5rem;
    transform: rotate(45deg);
    &:nth-child(2) {
      transform: rotate(-45deg) translate(0.1rem, -0.1rem);
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: -0.02rem -0.02rem 0 0.3rem rgba(0, 0, 0, 0.1);
    &.no-hover {
      background-color: unset;
      box-shadow: unset;
    }
  }
}
.blue {
  color: #2684ff;
}
.red {
  color: #9b0000;
}
.transparent-input {
  outline: none;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}
.percent-wrapper {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(231, 229, 229);
  transition: 0.3s ease-out;
  border-radius: 2rem;
  .percent {
    background-color: #2684ff;
    transition: 0.3s ease-out;
    border-radius: inherit;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    height: 100%;
  }
}

.transition {
  transition: 0.3s ease-out;
}

.scrollable {
  &::-webkit-scrollbar {
    width: 1.5rem;
    height: 1.5rem;
  }
  &::-webkit-scrollbar-thumb {
    height: 0.6rem;
    border: 0.4rem solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -0.1rem -0.1rem 0 rgba(0, 0, 0, 0.05),
      inset 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset -0.1rem -0.1rem 0 rgba(0, 0, 0, 0.05),
      inset 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  overflow: scroll;
}

.bold {
  font-weight: 700;
}

.primary-color {
  color: #9b0000;
}

.text-secondary {
  color: #6b7280;
}

.align-icon {
  display: inline-flex;
  align-items: center;
}

.hero-bg {
  height: 30rem;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.page-content {
  .featured-section {
    padding: 3rem 4rem;
  }
}
